.contact{
    padding: 40px 0;
}
.contact-form{
    background-color: rgb(224, 224, 233) ;
    padding: 30px 0;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(211, 199, 199, 0.911);
}
.contact-form input{
    width: 90%;
    display: block;
    margin: 10px auto;
    box-shadow: 5px 5px 5px rgb(211, 200, 200);
}
.contact-form textarea{
    width: 90%;
    display: block;
    margin: 10px auto;
    border-radius: 13px;
    box-shadow: 5px 5px 5px rgb(211, 200, 200);
}
.contact-form button{
    width: 90%;
    display: block;
    margin: 10px auto;
    box-shadow: 5px 5px 5px rgb(211, 200, 200);
}