.login{
    background-image: url('../../images/banner/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.login input{
    width: 100%;
    border: none;
    margin: 5px 0;
    padding: 7px 10px;
    border-radius: 10px;
    background-color: rgba(247, 246, 248, 0.74);
}
.form{
    background-color: rgba(77, 221, 33, 0.699);
    padding: 25PX;
    border-radius: 25PX;
}
.form-container{
    display: flex;
    align-items: center;
}
.signingoogle{
    background-color: blanchedalmond;
    font-size: 35px;
    padding: 9px;
    border-radius: 50%;
    color: darkblue;
    cursor: pointer;
    transition: 0.7s;
}
.signingoogle:hover{
    color: blanchedalmond;
    background-color: darkblue;
}