.single-doctor{
    display: flex !important;
    background-color: rgb(3, 3, 99);
    margin: 7px auto;
    width: 70%;
    align-items: center;
    border-radius: 20px;
    color: #fff;
    transition: 0.7s;
}
.single-doctor:hover{
    transform: translateX(10px);
}
.single-doctor img{
    width: 100px;
    height: 100px;
}
.doctor-content{
    margin-left: 15px;
}